aiohttp>=3.9.3
Pillow>=10.3.0
psutil>=5.9.8
hachoir>=3.2.0
tgcrypto>=1.2.5
Pyrogram==2.0.106
motor>=3.4.0
dnspython>=2.6.1
# aiofiles (versi development dari GitHub)
aiofiles @ https://github.com/Tinche/aiofiles/archive/master.zip
